<header class="header">
    <div class="flex header__content header-text">
        <img id="header-logo" class="header__logo header-button" src="./img/logo.png">
        {{#if user}}
            <div class="flex">
                <img id="geoimg" src="./img/geo2.0.png">
                <span class="header-text_decoration_underline">Мытищи</span>
            </div>
        {{/if}}
        <div class="flex header__search">
            <input class="header__search-input" type="text" placeholder="Найдем тусу под ваши вкусы...">
            <svg class="header-button header__search-img">
                <use xlink:href="./server/img/sprite.svg#search"></use>
            </svg>
        </div>
        <div class="flex header__calendar">
            <svg class="header-button header__calendar-img">
                <use xlink:href="./server/img/sprite.svg#calendar"></use>
            </svg>
            <span class="header-text_decoration_underline">Календарь событий</span>
        </div>
        {{#if user}}
            <div class="flex">
                <a href="/user?id={{user.id}}"><img id="avatar" class="header__user-avatar"
                    src="https://source.boringavatars.com/marble/32/{{user.name}}"></a>
                <span>{{user.name}}</span>
            </div>
            <svg id="header-logout" class="header-button header__logout-img" src="./img/logout2.0.png">
                <use xlink:href="./server/img/sprite.svg#logout"></use>
            </svg>
        {{else}}
            <div>
            {{#each authAnchors}}
                <a class="header__auth-anchor" href="{{href}}">{{name}}</a>
            {{/each}}
            </div>
        {{/if}}
    </div>
</header>
