<div class="notification" data-anchor="/user?id={{userId}}">
    <img class="header__avatar notification__avatar" src="{{userImgUrl}}">
    <div class="notification__text">
        <a href="/user?id={{userId}}" class="notification__anchor">{{userName}} {{userSurname}}</a>
        подписался на вас
    </div>
</div>
