<div class="notification" data-anchor="/events?id={{eventId}}">
    <img class="header__avatar notification__avatar" src="{{userImgUrl}}">
    <div class="notification__text">
        <a href="/user?id={{userId}}" class="notification__anchor">{{userName}} {{userSurname}}</a>
        создал мероприятие
        <a href="/events?id={{eventId}}" class="notification__anchor">{{eventTitle}}</a>
    </div>
</div>
