<div class="edit-overlay edit-popup_none" id="overlay"></div>
<div class ="event-background">
    <div class="primary-white-block event-block">
        <div class="buttons-block">
            <span class="event-title">{{event.title}}</span>
            {{#if permission}}
                <span class="event-title event-title_pointer" id="popupOpen">...</span>
                <div class="edit-popup edit-popup_none" id="editPopup">
                    <div class="edit-popup__item" id="editButton">
                        <img class="edit-popup__icon" src="./server/img/pencil.svg">
                        <span class="edit-pop__label"> Редактировать</span>
                    </div>
                    <div class="edit-popup__item" id="deleteButton">
                        <img class="edit-popup__icon" src="./server/img/delete.svg">
                        <span class="edit-pop__label"> Удалить</span>
                    </div>
                </div>
            {{/if}}
        </div>

        <div>
            <div class="secondary-text">{{event.date}}</div>
            <div class="secondary-text">{{event.city}}</div>
        </div>

        {{#if event.tag}}
            <div class="event-tags-block">
                {{#each event.tag}}
                    <a class="event-tags-block__event-tag event-tag" href="/search?tags={{this}}">{{this}}</a>
                {{/each}}
            </div>
        {{/if}}

        <div class="primary-text">{{event.description}}</div>

        {{#if event.imgUrl}}
            <img class="event-photo" src="{{event.imgUrl}}">
        {{/if}}

        <div class="primary-text">{{event.text}}</div>

        <div>
            <span class="primary-text">Адрес: </span>
            <span class="secondary-text address-text">пыекпиервкорнаеоголл</span>
        </div>

        <div id="mapContainer" class="map-container"></div>
    </div>
</div>
