<div class="content">
    <div class="edit-overlay edit-popup_none" id="overlay"></div>
    <div class="back" id="backButton">< Назад</div>
    <div class="primary-white-block event-block">
        {{#if unpermission}}
            {{#if author}}
                <div class="buttons-block">
                    <a href="/user?id={{author.id}}" class="buttons-block-wrapper">
                    {{#if author.imgUrl}}
                        <img src="{{author.imgUrl}}"
                             class="buttons-block-wrapper__icon buttons-block-wrapper__icon_avatar">
                    {{else}}
                        <img src="https://source.boringavatars.com/marble/32/{{author.name}}"
                             class="buttons-block-wrapper__icon .buttons-block-wrapper__icon_avatar">
                    {{/if}}
                    <span class="secondary-text">{{author.name}} {{author.surname}}</span>
                    </a>
                    <span class="buttons-block-wrapper" id="addFavourite">
                        <svg class="buttons-block-wrapper__icon unlike">
                            <use xlink:href="./server/img/sprite.svg#star"></use>
                        </svg>
                        <span class="secondary-text">В избранное</span>
                    </span>
                    <span class="buttons-block-wrapper" id="removeFavourite">
                        <svg class="buttons-block-wrapper__icon like">
                            <use xlink:href="./server/img/sprite.svg#star-selected"></use>
                        </svg>
                        <span class="secondary-text">Удалить из избранного</span>
                    </span>
                </div>
            {{/if}}
        {{/if}}
        <div class="buttons-block">
            <span class="event-title">{{event.title}}</span>
            {{#if permission}}
                <span class="event-title event-title_pointer" id="popupOpen">...</span>
                <div class="edit-popup edit-popup_none" id="editPopup">
                    <div class="edit-popup__item" id="editButton">
                        <svg class="edit-popup__icon">
                            <use xlink:href="./server/img/sprite.svg#pencil"></use>
                        </svg>
                        <span class="edit-pop__label"> Редактировать</span>
                    </div>
                    <div class="edit-popup__item" id="deleteButton">
                        <svg class="edit-popup__icon">
                            <use xlink:href="./server/img/sprite.svg#delete"></use>
                        </svg>
                        <span class="edit-pop__label"> Удалить</span>
                    </div>
                </div>
            {{/if}}
        </div>

        <div>
            <div class="secondary-text">{{event.date}}</div>
            <div class="secondary-text">{{event.city}}</div>
        </div>

        {{#if event.tag}}
            <div class="event-tags-block">
                {{#each event.tag}}
                    <a class="event-tags-block__event-tag event-tag" href="/search?tags={{this}}">{{this}}</a>
                {{/each}}
            </div>
        {{/if}}

        <div class="primary-text">{{event.description}}</div>

        {{#if event.imgUrl}}
            <img class="event-photo" src="{{event.imgUrl}}">
        {{/if}}

        <div class="primary-text">{{event.text}}</div>

        <div>
            <span class="primary-text">Адрес: </span>
            <span class="secondary-text address-text">{{event.address}}</span>
        </div>

        <div id="mapContainer" class="map-container"></div>
    </div>
</div>
