{{#if users}}
    <div id="userList">
        {{#each users}}
            <div class="event-li">
                <div class="event-li__img bg-img-wrapper">
                    <img class="bg-img" src="{{imgUrl}}">
                </div>
                <div class ="event-li__content">
                    <div>{{name}}</div>
                    <div>{{surname}}</div>
                    <div>{{email}}</div>
                </div>
            </div>
        {{/each}}
    </div>
{{else}}
    <h2>Здесь ничего нет</h2>
{{/if}}