<div class="profile-block" id="profileBlock">
    <div class="primary-border-block">
        <div class="profile-header">
            <div class="profile-header__avatar">
                {{!-- <img src="https://source.boringavatars.com/marble/32" class="profile-avatar"> --}}
                <img src="{{user.imgUrl}}" class="profile-avatar">
            </div>
            <div class="profile-header__name">
                <p class="profile-name">{{user.name}}</p>
                <p class="profile-name">{{user.surname}}</p>
                <p class="profile-email">{{user.email}}</p>
            </div>
        </div>
        <div class="profile-bottom" id="bottomBlock">
            {{#if user.description}}
            <p class="profile-about-text">О себе</p>
            <p class="profile-description-text">{{user.description}}</p>
            {{/if}}
        </div>
    </div>
    {{#if permitEdit}}
    <button class="button-white button-white_profile" id="editButton">Редактировать профиль</button>
    <a class="button-white button-white_profile" href="/create">Cоздать мероприятие</a>
    {{/if}}
</div>