{{#if this}}
<div class="wrapper-center">
    <div class="events">
        {{#each this}}
        <div class="events__e{{@index}} events__e-wrapper bg-img-wrapper">
            <img class="bg-img" src="{{imgUrl}}">
            <div class="events__content">
                <span class="events__description">{{description}}</span>
                <div class="events__viewed">
                    <img src="./img/viewed2.0.png">
                    <span class="events__viewed-score">{{viewed}}</span>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>                   
{{else}}
<div class="loader-wrapper">
    <img class="loader" src="/img/logo.png">
</div>
{{/if}}
