{{#if this}}
<div class="board">
    <div class="events">
        {{#each this}}
        <a href="/events?id={{id}}">
            <div class="events__e{{@index}} events__e-wrapper">
                <img class="events__image" src="{{imgUrl}}">
                <div class="events__content">
                    <span class="events__description">{{description}}</span>
                    <div class="events__viewed">
                        <img src="./img/viewed2.0.png">
                        <span class="events__viewed-score">{{viewed}}</span>
                    </div>
                </div>
            </div>
        </a>
       {{/each}}
    </div>
</div>                   
{{else}}
<div id="events-loader"><div>
{{/if}}
