<div class="event-board-event">
    <div class="event-img-wrapper">
        {{#if event.imgUrl}}
        <img class="event-img" src="{{event.imgUrl}}">
        {{else}}
        <img class="event-img" src="./server/img/tusa-placeholder.png">
        {{/if}}
        <div class="event-img-overlay">
            <div class="event-img-overlay__view event-img-overlay__item">
                <svg class="view-img">
                    <use xlink:href="./server/img/sprite.svg#view"></use>
                </svg>
                {{event.viewed}}
            </div>
            {{#if event.favourite}}
            <div id="event-fav-{{event.id}}"
                class="event-img-overlay__star event-img-overlay__item event-img-overlay__item_selected"
                data-fav="{{event.id}}" data-status="on">
                <svg class="star-img" data-fav="{{event.id}}" data-status="on">
                    <use xlink:href="./server/img/sprite.svg#star-selected" data-fav="{{event.id}}" data-status="on"></use>
            {{else}}
            <div id="event-fav-{{event.id}}" class="event-img-overlay__star event-img-overlay__item"
                data-fav="{{event.id}}" data-status="off">
                <svg class="star-img" data-fav="{{event.id}}" data-status="off">
                    <use xlink:href="./server/img/sprite.svg#star" data-fav="{{event.id}}" data-status="off"></use>
            {{/if}}
                </svg>
            </div>
            <div class="event-img-overlay-info">
                <div class="event-img-overlay-info__title">{{event.title}}</div>
                <div class="event-img-overlay-info__meta">{{event.city}},{{event.date}}</div>
            </div>
            <a href="events?id={{event.id}}" class="event-anchor"></a>
        </div>
    </div>  
    <div class="event-info">
        <div class="event-info__item">
            <a href="events?id={{event.id}}">
                <div class="event-info__title">{{event.title}}</div>
            </a>
            <div class="event-info__meta">{{event.date}}</div>
            <div class="event-info__meta">{{event.city}}</div>
        </div>
        <div class="event-info__item">
            <span class="event-info__text">{{event.description}}</span>
        </div>
        <div class="event-info__tags">
            {{#each event.tag}}
            <a href="/?tags={{this}}">
                <div class="tag">{{this}}</div>
            </a>
            {{/each}}
        </div>
    </div>
</div>
